[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "content/posts"]
	path = content/posts
	url = git@github.com:alvinlollo/obsidian-blog.git
